@import "tailwindcss";

:root {
  --background: #0c0f11;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-archivo: var(--font-archivo);
}

.font-archivo {
  font-family: var(--font-archivo);
}


::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0f11;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo);
}

.bigtext{
  font-family: var(--font-archivo);
  font-size: 7vw;
  line-height: 1;
  color: #ffffff;
  /* text-transform: capitalize; */
}
