@import "tailwindcss";

:root {
  --background: #0c0f11;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-red: #fd1812;
  --font-sans: var(--font-jura);
  --font-IBM-mono: var(--font-ibm-plex-mono);
}


::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0f11;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-IBM-mono);
}

.bigtext{
  font-family: var(--font-jura);
  font-size: 10vw;
  line-height: 1;
  color: #FF1812;
  font-weight: 700;
  /* text-transform: capitalize; */
}
